body{
    margin: 0;
    left: 0;
    display: grid;
}
#header-pop-up-edit-profile{
    display: grid;
    height: 50px;
    grid-template-columns: 10% 20% 67%;
    align-content: center;
    border-bottom: 1px solid #bbb;
}
#pop-up-edit-profile{
    width: 600px;
    height: auto;
    justify-self: center;
    border: 1px solid #bbb;
    border-radius: 5px;
    position: fixed;
    margin-top: 50px;
    margin-left: 350px;
    z-index: 1000;
    background-color: #fff;
}
#cover-photo-edit{
    height: 200px;
    display: grid;
    background-color: #bbb;
   
}
#body-pop-up-edit-profile{
    height: 500px;
    width: 100%;
    overflow-y: scroll;
  
}
#img-profile-edit{
    width: 112px;
    height: 112px;
    border: 5px solid #fff;
    border-radius: 50%;
    display: grid;
    justify-content: center;
    margin-top: -2rem;
    margin-left: 15px;
}
.txt-edit-profile{
    margin-top: 15px;
    margin-bottom: 15px;
    padding-left: 10px;
    padding-right: 10px;
    height: 83px;
}
.txt-edit-profile-label{
    background-color: #f5f8fa;
    border-bottom: 2px solid #a1a5a8;
    height: 60px;
}
#btn_save{
    cursor: pointer;
    outline: none;
    border: none;
    color: #fff;
    font-weight: bold;
    background-color: #1da1f2;
}